<aside class="left-menu">
    <div class="profile">
        <div class="image">
            <img src="https://www.handiclubnimois.fr/wp-content/uploads/2020/10/blank-profile-picture-973460_1280.png" alt="">
        </div>
        <span class="fullname"><%= @user.name  %></span>
    </div>

    <nav class="menu">
        <%= render partial:'deviseusers/partials/browse_media'%>
    </nav>

    <nav class="menu">
        <%= render partial:'deviseusers/partials/library'%>
    </nav>
</aside>

<section class="container">
    <header>
        <div class="search">
            <input type="text" placeholder="Search by song, artist, album, video, podcast ..."/>
            <ion-icon name="search"></ion-icon>
        </div>
        <div class="btn-settings">
            <ion-icon name="settings-outline"></ion-icon>
        </div>
    </header>
    <main>
        <%= render partial:'deviseusers/partials/release'%>
        <%= render partial:'deviseusers/partials/toptrack'%>
        <div class="track-list table sp-recommendation">
            <header>
                <h2><span>Your playlist</span></h2>
            </header>
            <%= render partial:'deviseusers/partials/musical_genres',  locals:{genres:@spotify_music_genres}%>
            <%= render partial:'deviseusers/partials/form',  locals:{search_reco:@search_reco, genres: @spotify_music_genres_array, userid: @user.id}%>

            <% if  @tracks %>
                <ul>
                    <%= render partial:'deviseusers/partials/track', collection: @tracks, as: :track%>
                </ul>
            <% end %>
        </div>
    </main>
</section>

<%= render partial:'deviseusers/partials/currently-playing'%>