<div class="new-form">
    <%= simple_form_for(search_reco) do |t| %>
        
        <div class="slider-div">
            <%= t.label :genres %>
            <%= t.input_field :genres, multiple: true %>
        </div>

        <div class="slider-div">
            <%= t.label :energy %>
            <%= t.input :energy, input_html: { class: 'slider', step: 1, min: 0, max: 1, value: search_reco.energy }, as: :range, label: false, type: "range" %>
            <div class="slider-bg energy" %></div>
        </div>

        <div class="slider-div">
            <%= t.label :valence %>
            <%= t.input :valence, input_html: { class: 'slider', step: 1, min: 0, max: 1 , value: search_reco.valence}, as: :range, label: false, type: "range" %>
            <div class="slider-bg valence"%></div>
        </div>

        <div class="slider-div">
            <%= t.label :popularity %>
            <%= t.input :popularity, input_html: { class: 'slider', step: 1, min: 0, max: 1, value: search_reco.popularity }, as: :range, label: false,  type: "range" %>
            <div class="slider-bg popularity" %></div>
        </div>

        <div class="col-12 d-flex justify-content-center mt-3">
            <%= t.submit id: 'action-button'%>
        </div> 
    <% end %>
</div>

